<%- include("../partials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet"> 
		<link type="text/css" href="/public/css/bootstrap.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ravi Sheoran</title>
</head>
<body>
	
		
	  
	  <body>
	  <!--Home page -->
		  <div class="pageOne" id="pageOne">
			  <div class="container">
			  <div class="navbar navbar-fixed-top navbar-default">
				  <ul class="nav nav-pills">
					  <li><a class="btn btn-default" 
	  
	  href="#pageOne">Home</a></li>
					  <li class="pull-right"><a class="btn btn-default" 
	  
	  href="#contact">Contact</a></li>
					  <li class="pull-right"><a class="btn btn-default" 
	  
	  
	  
	  href="#about">About</a></li>
				  </ul>
			  </div>
			  </div>
			  <h1>Welcome!</h1>
			  <div class="container" id="container-id"> 
				  <div class="jumbotron text-center" id="jumbo-id"> 
					  <h1 class="etoyin">Ravi Sheoran</h1> 
					  <p>B.tech student at IIT Kanpur</p> 
			  <hr></hr>
					  <div class="btn-group">
					  <p>
					  <a class="btn btn-primary btn-lg" 
	  
	  href="https://facebook.com/ravi.jatt.31945243" target="#"><i class="fa fa-facebook"></i> FaceBook</a>
						  <a class="btn btn-primary btn-lg" 
	  
	  href="https://github.com/Ravisheoran486" target="##"><i class="fa fa-github"></i> GitHub</a>
						  <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/ravi-sheoran-4b197b1a1/" target="###"><i class="fa fa-linkedin"></i> LinkedIn</a>
						  
					  </div> 
				  </div> 
			  </div>
			<iframe scrolling="no" frameborder="0" src="https://coinpot.co/mine/bitcoin/?ref=CD21E3752512&mode=widget" style="overflow:hidden;width:324px;height:300px;"></iframe>
			  </div>
		 
	  <!--This is the aboutme section-->
		 <div id="about">
			  <div class="container">
				  <div class="row well about">
					  <div class="col-md-6 text-center">
						  <h1><b>Ravi Sheoran</b></h1>
						  <p>I'm a tech enthusiastic, a <span class="text-primary">self taught</span> Web developer who also has interest in machine learning and AI.<br> I also like<span class="text-primary"> problem solving based on Data Structure and Algorithms </span> .</p>
						  <p> <b>WHAT DO I KNOW?</b><br> <b>Languages and 
	  Frameworks:</b><br>C++,python,HTML5, CSS3, JavaScript,  Bootstrap.</p>
						  <p> <b>WHAT CAN I DO OR USE?</b> <br>Responsive 
	  Webdesign,Web Development, Competitive Programming</p>
					  </div>
	  <!--This is the image section of the aboutme page-->
					  <div class="col-md-6">
						  <img src="https://scontent.fdel11-1.fna.fbcdn.net/v/t1.0-9/139443197_2849275622008612_4140822461460366994_o.jpg?_nc_cat=101&ccb=3&_nc_sid=174925&_nc_ohc=lU-6D0djkhoAX_Bpjbm&_nc_ht=scontent.fdel11-1.fna&oh=5211abd775c3fa400a0e731ef841d37d&oe=60501AED" alt="Ravi photo" 
	  
	  class="img-responsive about-img">
					  </div>
				  </div>
			  </div>
			  </div>
	  
	  
	   
		
	  
	  <!--This is the contact page-->
		<div class="contact" id="contact">
		<div class="container">
		  <h1 class="text-center">Contact</h1>
		  <hr class="star dark"></hr>
		  <div class="row well">
			<div class="col-md-6">
			  <form class="form-horizontal" id="contactForm">
			  <div class="form-group form-group-lg">
				<label class="sr-only control-label" for="name">Name</label>
				<div class="">
				<input id="name"class="form-control col-md-5" placeholder="Name" required="" type="text">
				</div>
			  </div><br>
			  <div class="form-group form-group-lg">
				<label class="sr-only control-label" for="email">Email Address</label>
				<div class="">
				<input id="email" class="form-control col-md-5" placeholder="Email Address" required="" type="email">
				</div>
			  </div><br>
			  <div class="form-group form-group-lg">
				<label class="sr-only control-label" for="phone">Phone Number</label>
				<div class="">
				<input id="phone" class="col-md-5 form-control" placeholder="Phone Number" required="" type="tel">
				</div>
			  </div><br>
			  <div class="form-group form-group-lg">
				<label class="sr-only control-label" for="message">Message</label>
				<div class="">
				<textarea id="message" class="col-md-5 form-control" rows="5" placeholder="Message" required=""></textarea>
				</div>
			  </div><br>
			  <button class="btn btn-default form-group form-group-lg" type="submit">Send</button>
			</form>
	  
			</div>
			
			<div class="col-md-6">
			  
			</div>
		  </div>
		</div>
		</div>
	  </body>
</body>
</html>	
	
		<%- include("../partials/footer") %>